.corp {
  background-color: rgb(255, 255, 255);
}

.contactForm {
  margin-left: 5px;
  width: 800px;
  height: 800px;
}

.formCtrl {
  width: 155px;
  background-color: rgb(0, 0, 0);
  color: white;
  border-style: none;
}

.input {
}

.messageStyle {
  border-style: 1px, solid, none;
}
